body {
    font-family: Arial, sans-serif;
    background: #20bbc0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    background: rgb(66, 105, 150);
    padding: 35px;
    width: 520px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0px 8px 25px rgba(121, 119, 119, 0.15);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.score-board {
     height: 10vh;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
}

.question-box {
    margin: 25px 0;
    min-height: 80px;
}

#question {
    font-size: 20px;
}

#feedback {
    margin-bottom: 12px;
    font-weight: bold;
    min-height: 20px;
}

.choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.choice {
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: #171718;
    color: rgb(240, 238, 238);
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
}

.choice:hover {
    background: #090a0a;
}

/* NEW STATES */
.choice.correct {
    background: #28a745 !important;
}

.choice.wrong {
    background: #dc3545 !important;
}

.choice.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.controls {
    margin-top: 18px;
}

#resetBtn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #048304;
    color: rgb(243, 241, 241);
    cursor: pointer;
    font-size: 15px;
}